@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');

html{
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Merriweather Sans', sans-serif;

}
div{
    color: black;
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Merriweather Sans', sans-serif;
}

.back{
  background-color: #0d3b66;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
}

/* CENTER CARDS */
.info{
  display: flex;
  justify-content: center;
}

/*Color pallette grid background*/
.grid-background {
    background-color: #0d3b66;
    font-size: 20pt;
    position: relative;
    /* margin-block-start: 20px;  */
    /* margin-block-end: 20px; */
    justify-content: center;
    /* height: 100vh; */
    color: #ee964b;
  }
  
  /*Content Block for user photo*/
   .grid-container {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: initial;
    font-size: 20pt;
    /* margin: 15px; */
    display: flex;
    justify-content: center;
    margin-block-end: 10px;
    /* background-color: white; */
    /* viewport-fit: 100%; */
    max-height: 500px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    /* padding: 1px; */
  } 

   /*Content Block for user info*/
  .grid-container2 {
    background-color: #faf0ca;
    color: #ee964b !important;
    font-size: 13pt;
    margin: 15px; 
    display: flex;
    justify-content: center;
    margin-block-end: 10px;
    /* viewport-fit: 100%; */
    min-height: 300px;
    border-radius: 5px;
    padding: 10px;
  }

  /* Mobile first card */
.card{
  width: 30rem; margin-right: 5px; margin-left: 5px; margin-top: auto; background-color: #faf0ca;
}

.overlay{
  position: relative; bottom: 50px; left: 10px; color:white; font-size: 25pt; font-weight: bolder;
  
}

.card-text{
  font-size: 18pt;

}

/* Make aside and when it enters mobile mode */
  @media screen and (max-width: 624px){
    aside {
      display: none;
    }
  }

  /* Responsive Design for 625px and above */
  @media screen and (min-width: 625px){

    /* Desktop card */
    .card{
      width: 375px;
      height: auto;
    }

    .card-body{
      margin-block-start: -30px;
    }

    .card-text{
      font-size: 15pt;
  
    }

    .info{
      padding-top: 30px;
    }

    .mobile{
      display: none;
    }

    .grid-background{
      margin-block-start: -20px;
    }

    aside {
      padding-top: 10px;
      height: 101vh;
      min-width: 280px;
      max-width: 500px;
      float: left;
      background-color: #faf0ca;
      display: block;
    }

    aside nav .navbar{
      display: block;
    }

    .grid-container{
      /* position: fixed; */
      position: static;
      max-width: 375px;
      max-height: 631px;
      margin-left: auto;
      margin-right: auto ;      
    }

    .grid-container2 {
      margin-block-start: 40px;
      /* position: static; */
      display: flex;
      max-width: 375px;
      max-height: 100px;
      margin-left: auto;
      margin-right: auto;      
    }

    #footer {
      display: none;
    }
  }

  /* Laptop smaller heights */
  @media screen and (max-height: 769px){
    .grid-container{
      max-width: 375px;
      max-height: 431px;
    }

    .grid-container2{
      max-width: 375px;
      max-height: 328px;
    }
     
  }

  /*Dropdown button*/
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #faf0ca;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

.btn-primary {
  color:#0d3b66;
  background-color: #f4d35e;
  border-color: #f4d35e;
}

  .dropdown-content a {
    color: #0d3b66;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}

  .navbar-toggler a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #FCD581;
  }

  /* CHANGE THE COLOR OF THE BUTTON */
  .navbar-toggler {
    background-color: #0d3b66;
    color: #0d3b66;
    padding: 10px;
    font-size: 10px;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }

  /*Dropdown in the middle of the nav bar to change to groups*/
  .dropdown-individual {
    position: relative;
    display: inline-block;
    color: #FCD581;
  }

  #navbarTogglerDemo02{
    background-color: white;
    color: black;
  }

  @media screen and (max-width: 400px) {
    .dropdown-individual{
      position: relative;
      text-align: center;
    }
    #footer {
      display: flex;
    }
  } 

  .dropdown-content-individual{
    display: none;
    position: absolute;
    background-color: #FCD581;
    color: #0d3b66;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown-individual:hover .dropdown-content-individual {
    display: block;
  }

  body {
    padding-bottom: 50px;
  }

  .btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #FCD581;
  }

  .bg-dark {
    background-color: #ee964b !important;
  }

.btn-secondary {
    color:#b41818;
    background-color: #0d3b66;
    border-color: #0d3b66;
}

.ml-auto{
  background-color: #EE964B;
}

.collapse .navbar-collapse{
  background-color: #EE964B;
}

#matches, #messages{
    color: #faf0ca;
}

.btn-primary {
    color:black;
    background-color: #f4d35e;
    border-color: #f4d35e;
  }

  #Gender, #City, #activity1, #skill1 {
      color: #EE964B;
      font-weight: 600;
  }


  /* ICONS */
   .fas, .far {
    color: #0d3b66;
    font-size: 2em;
  }

.fa-heart {
  font-size: 35px;
  color: #EE964B;
}

.fa-times-circle{
  font-size: 35px;
  color: #EE964B;
}

.fa-house-user{
  font-size: 25px;
  color: #EE964B;
}
.fa-bicycle{
  font-size: 25px;
  color: #EE964B;
}
.fa-brain{
 font-size: 25px;
  color: #EE964B;
}

  .fa-user{
   color: #0d3b66;
 }


  /* NAV BAR INSIDE OF THE ASIDE  FOR DESKTOP*/
  @media (max-width: 1480px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  @media (min-width: 1480px) {
    .navbar-expand-lg {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
      right: 0;
      left: auto;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
      display: none;
    }
    .navbar-expand-lg .dropup .dropdown-menu {
      top: auto;
      bottom: 100%;
    }
  }