@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

div{
    color: black;
    font-family: 'Roboto', sans-serif;
}

.back{
  background-color: #D52941;
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
}

/*Color pallette grid background*/
.grid-background {
    background-color: #D52941;
    width: fit-content;
    height: fit-content;
    font-size: 20pt;
    display: flexbox;
  }
  
  .grid-container {
    background-color: grey;
    font-size: 20pt;
    margin: 15px;
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    grid-gap: 1px;
  
  }

  .grid-container2 {
    background-color: grey;
    font-size: 10pt;
    margin: 15px;
    height: fit-content;
    width: viewport;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px;
  }

    .footerID{
      font-size: 10pt;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    
    }
  
  @media screen and (max-width: 300px){
    .grid-background{
      display: block;
    }
  }

  /*Dropdown button*/
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #fafdfa;
  }

  .navbar-toggler {
    background-color: #aaa5a5;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }

  /*Dropdown in the middle of the nav bar to change to groups*/
  .dropdown-individual {
    position: relative;
    display: inline-block;
    color: white;
  }

  #footerID img{
    width: 50px;
    height: 50px;
  }

  @media screen and (min-width: 1000px) {
    .dropdown-individual{
      position: relative;
      text-align: center;
    }

    #footerID {
      display: none;
    }
  }

  .dropdown-content-individual{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown-individual:hover .dropdown-content-individual {
    display: block;
  }
