.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #FFF8E8;
  }

  .navbar-light .navbar-brand {
    color: #FAF0CA;
  }

  .bg-dark {
    background-color: #F95738 !important;
  }

  .btn-primary {
    color: #fff;
    background-color: #990D35;
    border-color: #990D35;
  }