.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #FCD581;
  }

  .bg-dark {
    background-color: #ee964b !important;
  }

.btn-secondary {
    color:#fff;
    background-color: #0d3b66;
    border-color: #0d3b66;
}

#matches, #messages, #UserName{
    color: #faf0ca;
}

#Gender, #Age, #City, #activity1, #skill1{
  color: #EE964B;
}

.btn-primary {
    color:black;
    background-color: #f4d35e;
    border-color: #f4d35e;
  }

  h1 {
      color: #EE964B;
      font-weight: 600;
  }

  .fas, .far {
    color: black;
    font-size: 2em;
  }
