.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #FCD581;
  }

  .navbar-light .navbar-brand {
    color: #FCD581;
  }

  .bg-dark {
    background-color: #F95738 !important;
  }

  .bg-light {
    background-color: #990D35 !important;
  }

  .btn-primary {
    color: #FCD581;
    background-color: #FCD581;
    border-color: #990D35;
  }

  .btn-secondary {
    color: #FCD581;
    background-color: #990D35;
    border-color: #990D35;
  }

  .fas, .far {
    color: black;
    font-size: 2em;
  }
